@model PSKCrackers.Models.Sale

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>


<!-- Available Stock Section -->
<div class="container mt-4">
    <div class="row">
        <!-- Available Stock Section -->
        <div class="col-lg-4">
            <h2>Available Stock</h2>
            <table class="table table-striped" id="availableStockTable">
                <thead>
                    <tr>
                        <th style="display:none;">ProductID</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Stocck items will be dynamically added here -->
                </tbody>
            </table>
        </div>

        <!-- Cart Items Section -->
        <div class="col-lg-4">
            <h2>Cart Items</h2>
            <table class="table table-striped" id="cartTable">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Cart items will be dynamically added here -->
                </tbody>
            </table>
        </div>

        <!-- Total Amount Calculation Section -->
        <div class="col-lg-4">
            <h2>Total Amount Calculation</h2>
            <table class="table" id="totalAmountTable">
                <tbody>
                    <tr>
                        <td>SaleDate:</td>
                        <td>
                            @Html.DisplayFor(u=> u.SaleDate)
                        </td>
                    </tr>
                    <tr>
                        <td>Customer:</td>
                        <td>
                            @Html.DisplayFor(u=> u.Customer.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>Total Amount:</td>
                        <td id="totalAmount">₹0.00</td>
                    </tr>
                    <tr>
                        <td>Discount %:</td>
                        <td>
                            @Html.DisplayFor(u=> u.DiscountPercentage)
                        </td>
                    </tr>
                    <tr>
                        <td>Discounted Total:</td>
                        <td id="calculatedTotal">₹0.00</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" id="printInvoice">Print Invoice</button> <!-- Add Print Invoice button -->
        </div>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-cancel">Back to List</a>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            // Sample available stock data (you can load this data dynamically)
            var availableStock = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.AvailableStock))');

            // Initialize the cart as an empty array
            const cart = JSON.parse('@Html.Raw(Json.Serialize(Model.SaleItems))');

            // Function to populate the available stock table
            function populateAvailableStockTable() {
                const table = $("#availableStockTable");
                table.find("tr:gt(0)").remove(); // Clear existing rows
                availableStock.forEach(item => {
                    table.append(`<tr><td style="display:none;">${item.product.productId}</td><td>${item.product.name}</td><td>₹${item.product.price.toFixed(2)}</td><td>${item.quantityInStock}</td></tr>`);
                });
            }


            // Function to populate the cart table and update total amount
            function updateCartAndTotal() {
                const table = $("#cartTable");
                table.find("tr:gt(0)").remove(); // Clear existing rows
                let totalAmount = 0;

                cart.forEach(item => {
                    const subtotal = item.product.price * item.quantityInCart;
                    totalAmount += subtotal;
                    const row = `<tr data-productid="${item.product.productId}">
                                                        <td>${item.product.name}</td>
                                                        <td>₹${item.product.price.toFixed(2)}</td>
                                                        <td>
                                                            <span class="cart-quantity">${item.quantityInCart}</span>
                                                        </td>
                                                        <td>₹${subtotal.toFixed(2)}</td>
                                                    </tr>`;
                    table.append(row);
                });

                // Update the total amount
                var discVal = $("#discount").val();
                if (!discVal || discVal == "") { discVal = "0"; }
                const discountPercentage = parseFloat(discVal);
                const discountAmount = (discountPercentage / 100) * totalAmount; // Calculate discount amount
                const discountedTotalAmount = totalAmount - discountAmount; // Apply discount
                $("#totalAmount").text(`₹${totalAmount.toFixed(2)}`);

                // Update the calculated total with discount applied
                $("#calculatedTotal").text(`₹${discountedTotalAmount.toFixed(2)}`);
            }

            // Initial population of available stock table
            populateAvailableStockTable();
            updateCartAndTotal();

            function getCurrentDateFormatted() {
                const months = [
                    "January", "February", "March", "April", "May", "June",
                    "July", "August", "September", "October", "November", "December"
                ];

                const currentDate = new Date();
                const month = months[currentDate.getMonth()];
                const day = currentDate.getDate();
                const year = currentDate.getFullYear();

                return `${month} ${day}, ${year}`;
            }

            $("#printInvoice").on("click", function () {
                var discount = $("#discount").text();
                var totalAmount = $("#totalAmount").text();
                var calculatedTotal = $("#calculatedTotal").text();

                if(!discount)
                {
                    discount = 0;
                }

                const printWindow = window.open('', '', 'width=800, height=600');
                printWindow.document.open();
                printWindow.document.write('<!DOCTYPE html>          \
        <html>                                                               \
        <head>                                                               \
            <meta charset="UTF-8">                                           \
            <title>Invoice</title>                                           \
            <style>                                                          \
                body {                                                       \
                    font-family: Arial, sans-serif;                          \
                }                                                            \
                .invoice {                                                   \
                    margin: 0 auto;                                          \
                    width: 98%;                                              \
                }                                                            \
                .header {                                                    \
                    text-align: center;                                      \
                    background-color: #f2f2f2;                               \
                    padding: 10px;                                           \
                }                                                            \
                .invoice-details {                                           \
                    margin-top: 20px;                                        \
                }                                                            \
                .invoice-details h2 {                                        \
                    border-bottom: 1px solid #ddd;                           \
                    padding-bottom: 5px;                                     \
                }                                                            \
                .invoice-details .info {                                     \
                    margin-top: 10px;                                        \
                }                                                            \
                .invoice-table {                                             \
                    margin-top: 20px;                                        \
                    border-collapse: collapse;                               \
                    width: 100%;                                             \
                }                                                            \
                .invoice-table th, .invoice-table td {                       \
                    border: 1px solid #ddd;                                  \
                    padding: 8px;                                            \
                    text-align: left;                                        \
                }                                                            \
                .invoice-table th {                                          \
                    background-color: #f2f2f2;                               \
                }                                                            \
                .invoice-total {                                             \
                    margin-top: 20px;                                        \
                    text-align: right;                                       \
                }                                                            \
                .discount {                                                  \
                    margin-top: 10px;                                        \
                    text-align: right;                                       \
                }                                                            \
            </style>                                                         \
        </head>                                                              \
        <body>                                                               \
            <div class="invoice">                                            \
                <div class="header">                                         \
                    <h1>PSK Crackers - Invoice</h1>                          \
                </div>                                                       \
                <div class="invoice-details">                                \
                    <h2>Invoice Details</h2>                                 \
                    <div class="info">');

                printWindow.document.write('<p><strong>Date:</strong> ' + getCurrentDateFormatted() + '</p>');

                printWindow.document.write('</div>   \
                </div>                                       \
                <table class="invoice-table">                \
                    <thead>                                  \
                        <tr>                                 \
                            <th>Item</th>                    \
                            <th>Quantity</th>                \
                            <th>Unit Price</th>              \
                            <th>Total</th>                   \
                        </tr>                                \
                    </thead>                                 \
                    <tbody>');
debugger;
                cart.forEach(item => {
                    const subtotal = item.product.price * item.quantityInCart;
                    
                    printWindow.document.write('<tr>  \
                                    <td>'+ item.product.name + '</td>                   \
                                    <td>'+ item.quantityInCart + '</td>                        \
                                            <td>₹ '+ item.product.price.toFixed(2) + '</td>                   \
                                            <td>₹ '+ subtotal.toFixed(2) + '</td>                  \
                        </tr>');
                });

                printWindow.document.write('</tbody></table>');

                printWindow.document.write('<div class="invoice-total">\
                                    <p><strong>Total without discount:</strong> '+ totalAmount + '</p>\
                        </div>');

                printWindow.document.write('<div class="discount">\
                                    <p><strong>Discount:</strong>'+ discount + ' %</p>\
                </div>');

                printWindow.document.write('<div class="invoice-total">\
                                    <p><strong>Total:</strong> '+ calculatedTotal + '</p>\
                </div>');

                printWindow.document.write('</div>');


                printWindow.document.close();
                printWindow.print();
                printWindow.close();
            });


        });

    </script>
}