@model IEnumerable<PSKCrackers.Models.Sale>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercentage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SaleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPercentage)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.SaleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SaleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
