@model IEnumerable<PSKCrackers.Models.GoodsReceived>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalReceivedCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalReceivedCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GoodsReceivedId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GoodsReceivedId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GoodsReceivedId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
