@model IEnumerable<PSKCrackers.Models.Sale>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Pending Orders</h1>

<p>
    <a asp-controller="Sales" asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SaleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountedTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Sales" asp-action="Details" asp-route-id="@item.SaleId">@Html.DisplayFor(modelItem => item.SaleId)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountedTotal)
                </td>
                <td>
                    <a asp-controller="Sales" asp-action="Details" asp-route-id="@item.SaleId">Details</a> |
                    <a asp-controller="Sales" asp-action="Delete" asp-route-id="@item.SaleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
